
body {
  background-color: #333;
  color: #ccc;
  font-size: large;

  margin: 0 !important;
  padding: 0 !important;
}


#webgl-result {
  background-color: #cf3939;
}


#navbar-container {
  width: 100%;
  height: 2em;

  background-color: #ccc;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

  color: #444;
}


#demo-canvas-container {
  @media screen and (orientation: landscape) {
    height: 80vh;
    aspect-ratio: 2 / 1;
  }

  @media screen and (orientation: portrait) {
    width: 80vw;
    aspect-ratio: 1 / 2;
  }

  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
